<tr class="task" id="{{ object.pk }}"
    data-task-completed="{% if object.completed %}true{% else %}false{% endif %}">
  <td class="align-middle" aria-label="TaskAssignee">
    <img src="{{ object.assignee.image.url|default:"/media/avatars/default.svg" }}"
         alt="avatar" class="rounded-circle shadow avatar">
    <br>
    <span class="d-none d-md-inline ms-2 text-nowrap">{{ object.assignee|default_if_none:"" }}</span>
  </td>
  <td class="align-middle" aria-label="TaskDetails">
    <div>
      <a href="{% url "tasks:detail" object.pk %}" class="text-decoration-none fw-bold task-detail-ref">
        {{ object.summary }}
      </a>
    </div>
    <p class="d-none d-lg-block fst-italic text-muted">
      {{ object.description|truncatewords:20 }}
    </p>
  </td>
  <td class="align-middle" aria-label="TaskActions">
    <div class="d-flex flex-row justify-content-between align-items-center">
      {% if object.completed %}
        <i class="bi bi-arrow-repeat{% if not user == object.assignee and not user == object.reporter %} disabled{% endif %}"
           role="button"
           hx-patch="{% url "tasks-api:detail" object.pk %}" hx-vals="js:{completed:false}" hx-swap="none"
           hx-headers="js:{'X-CSRFToken':getCookie('csrftoken')}"
           data-task-target="{{ pk }}" data-task-action="patch"></i>
      {% else %}
        <i class="bi bi-check-lg{% if not user == object.assignee and not user == object.reporter %} disabled{% endif %}"
           role="button"
           hx-patch="{% url "tasks-api:detail" object.pk %}" hx-vals="js:{completed:true}" hx-swap="none"
           hx-headers="js:{'X-CSRFToken':getCookie('csrftoken')}"
           data-task-target="{{ pk }}" data-task-action="patch"></i>
      {% endif %}
      <i class="bi bi-trash{% if not user == object.reporter %} disabled{% endif %}"
         role="button"
         hx-delete="{% url "tasks-api:detail" object.pk %}" hx-target="closest tr" hx-swap="outerHTML"
         hx-headers="js:{'X-CSRFToken':getCookie('csrftoken')}"
         data-task-target="{{ pk }}" data-task-action="delete"></i>
    </div>
  </td>
</tr>
