{% load tasks %}
<tr class="task" id="{{ object.pk }}" {{ object.completed|row_completed_mark }}>
  <td class="align-middle task-assignee" aria-labelledby="taskAssignee">
    {% if object.assignee %}
      <img src="{{ object.assignee.image.url }}"
           alt="avatar"
           class="rounded-circle shadow avatar">
      <br>
    {% endif %}
    <span class="d-none d-md-inline ms-2 text-nowrap">
      {{ object.assignee|default_if_none:"Unassigned" }}
    </span>
  </td>
  <td class="align-middle task-detail" aria-labelledby="taskDetail">
    <div>
      <a href="{% url "tasks:detail" object.pk %}" class="text-decoration-none fw-bold task-detail-ref">
        {{ object.summary }}
      </a>
    </div>
    <p class="d-none d-lg-block fst-italic text-muted">
      {{ object.description|truncatewords:20 }}
    </p>
  </td>
  <td class="align-middle task-actions" aria-labelledby="taskActions">
    <div class="d-flex flex-row justify-content-between align-items-center">
      {% if object.completed %}
        <i class="bi bi-arrow-repeat {{ update_permission }}" role="button"
           hx-patch="{% url "api:tasks-detail" object.pk %}" hx-swap="none"
           hx-vals="js:{completed:false}" hx-headers="js:{'X-CSRFToken': getCookieValue('csrftoken')}"></i>
      {% else %}
        <i class="bi bi-check-lg {{ update_permission }}" role="button"
           hx-patch="{% url "api:tasks-detail" object.pk %}" hx-swap="none"
           hx-vals="js:{completed:true}" hx-headers="js:{'X-CSRFToken': getCookieValue('csrftoken')}"></i>
      {% endif %}
      <i class="bi bi-trash {{ delete_permission }}" role="button"
         hx-delete="{% url "api:tasks-detail" object.pk %}" hx-target="closest tr" hx-swap="outerHTML"
         hx-headers="js:{'X-CSRFToken': getCookieValue('csrftoken')}"></i>
    </div>
  </td>
</tr>
