{% load tasks %}
<tr class="task" id="{{ object.pk }}" {{ object.completed|row_completed_mark }}>
  <td class="align-middle task-assignee" aria-labelledby="taskAssignee">
    <img src="{# TODO: GH-67 #}" alt="avatar" class="rounded-circle shadow avatar">
    <br>
    <span class="d-none d-md-inline ms-2 text-nowrap">
      {{ object.assignee.get_full_name }}
    </span>
  </td>
  <td class="align-middle task-detail" aria-labelledby="taskDetail">
    <div>
      <a href="{% url "tasks:detail" object.pk %}" class="text-decoration-none fw-bold task-detail-ref">
        {{ object.summary }}
      </a>
    </div>
    <p class="d-none d-lg-block fst-italic text-muted">
      {{ object.description|truncatewords:20 }}
    </p>
  </td>
  <td class="align-middle task-actions" aria-labelledby="taskActions">
    <div class="d-flex flex-row justify-content-between align-items-center">
      {% if object.completed %}
        <i class="bi bi-arrow-repeat{# TODO: GH-78 #}" role="button"
           hx-patch="{# TODO: GH-78 #}" hx-swap="none"
           hx-vals="js:{completed:false}" hx-headers="js:{}"></i>
      {% else %}
        <i class="bi bi-check-lg{# TODO: GH-78 #}" role="button"
           hx-patch="{# TODO: GH-78 #}" hx-swap="none"
           hx-vals="js:{completed:true}" hx-headers="js:{}"></i>
      {% endif %}
      <i class="bi bi-trash{# TODO: GH-78 #}" role="button"
         hx-delete="{# TODO: GH-78 #}" hx-target="closest tr" hx-swap="outerHTML"></i>
    </div>
  </td>
</tr>
