{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}User Profile | {{ block.super|default_if_none:"Task Tracker" }}{% endblock %}
{% block main %}
  <div class="card shadow">
    <div class="card-header">
      <h1 class="card-title text-center">{{ user }}</h1>
      <p class="h5 text-center">{{ user.email }}</p>
    </div>
    <div class="card-body">
      <div class="row row-cols-1 row-cols-lg-2">
        <div class="col d-flex justify-content-center">
          <img src="https://i.pravatar.cc/?u={{ email }}" alt="avatar"
               class="rounded-circle shadow avatar">
        </div>
        <div class="col mt-3 mt-lg-0" aria-labelledby="formUserdata">
          <h2 class="text-center">Change user data</h2>
          {% crispy form %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
