<!doctype html>
<html lang="en" data-bs-theme="dark">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="Task tracker templates package - EDU Python course">
  <meta name="author" content="Serhii Horodilov <sgorodil@gmail.com>">
  <link rel="icon" type="image/svg+xml" href="../img/favicon.svg">
  <link rel="icon" type="image/png" href="../img/favicon.png">
  <title>Sign In | Task Tracker</title>
<script defer src="../js/main.bundle.js"></script><link href="../css/main.min.css" rel="stylesheet"></head>
<body>
<div class="container" role="navigation">
  <nav class="navbar navbar-expand-lg mb-3">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
              aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a href="" class="navbar-brand"><i class="bi bi-list-task"></i>&nbsp;Task Tracker</a>
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                                <li class="nav-item"><a href="" class="nav-link">Sign Up</a></li>
            <li class="nav-item"><a href="" class="nav-link">Sign In</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<div class="container">
  <div class="row row-cols-1 justify-content-center">
    <main class="col col-md-10 col-lg-9">
      <form class="w-50 m-auto" id="formAuth" aria-label="Login Form">
        <h1 class="h3 fw-normal mb-3 text-center">Enter your credentials</h1>
        <div class="form-floating mb-3">
          <input type="text" class="form-control shadow" id="username" name="username" placeholder="Username">
          <label for="username">Username</label>
        </div>
        <div class="form-floating mb-3">
          <input type="password" class="form-control shadow" id="password" name="password" placeholder="Password">
          <label for="password">Password</label>
        </div>
        <button class="btn btn-primary w-100 my-2 fs-5">Sign In</button>
        <p class="text-center mt-3">
          Have no account?
          <a href="" class="text-body fw-bold">Register now</a>
        </p>
      </form>
    </main>
  </div>
</div>
</body>
</html>
