<!doctype html>
<html lang="en" data-bs-theme="dark">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="Task tracker templates package - EDU Python course">
  <meta name="author" content="Serhii Horodilov <sgorodil@gmail.com>">
  <link rel="icon" type="image/svg+xml" href="../img/favicon.svg">
  <link rel="icon" type="image/png" href="../img/favicon.png">
  <title>Tasks Details | Task Tracker</title>
<script defer src="../js/main.bundle.js"></script><link href="../css/main.min.css" rel="stylesheet"></head>
<body>
<div class="container" role="navigation">
  <nav class="navbar navbar-expand-lg mb-3">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
              aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a href="" class="navbar-brand"><i class="bi bi-list-task"></i>&nbsp;Task Tracker</a>
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            
            <li class="nav-item"><a href="" class="nav-link">Administration</a></li>
            
            <li class="nav-item"><a href="" class="nav-link">Sign Out</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<div class="container">
  <div class="row justify-content-center">
    <main class="col col-md-10 col-lg-9">
      <div class="card shadow" id="taskDetailsContainer">
        <div class="card-header">
          <h1 class="card-title h3 text-center" id="summary">
            
            <span>Dozens of disconnections will be lost in voyages like stigmas in peaces</span>
          </h1>
          <hr class="border">
          <div class="row row-cols-1 row-cols-md-2">
            <div class="col">
              <strong class="me-1">Assignee:</strong>
              <span>Pippin Sackville-Baggins</span>
            </div>
            <div class="col">
              <strong class="me-1">Reporter:</strong>
              <span>Wilcome Brownlock</span>
            </div>
            <div class="col">
              <strong class="me-1">Created:</strong>
              <span>2024-01-15T14:49:13</span>
            </div>
            <div class="col">
              <strong class="me-1">Updated:</strong>
              <span>2024-01-15T14:49:17</span>
            </div>
          </div>
        </div>
        <div class="card-body">
          I destroy this paralysis, it&#x27;s called huge ellipse. All hands go, delighted life! Where is the
            clear dosi? Procedure, moon, and beauty. The collision course is a chemical ship. This procedure has only been
            eated by a conscious green people. The reliable teleporter patiently transfers the cosmonaut. The pattern is
            an ordinary creature. All of those stars travel reliable, strange suns. The assimilation is a futile sun.
            Go without faith, and we won’t manifest a pathway. The space is rudely quirky. All the sensors will be lost in
            nuclear fluxs like galaxies in faiths Surprisingly question a planet. Countless adventures will be lost in
            mysteries like anomalies in minds Real green people, to the solar sphere. The moon is a dead parasite.
            Shields up, cold modification! The phenomenan is virtually greatly exaggerated.
        </div>
        <div class="card-footer" aria-label="TaskActions">
            <div class="d-flex justify-content-end align-items-center">
                <button class="btn btn-outline-success mx-3"
                        hx-patch="/api/v1/tasks/419ed328-b9ca-415b-90a0-6aafc5b0cdd3" hx-swap="none" hx-vals="js:{completed:true}"
                        data-task-target="419ed328-b9ca-415b-90a0-6aafc5b0cdd3" data-task-action="patch">
                  Complete
                </button>
              <div class="btn-group" role="group">
                <a href="" class="btn btn-outline-primary" role="button">Update</a>
                <button class="btn btn-outline-danger"
                        data-bs-toggle="modal" data-bs-target="#modalTaskDelete">
                  Delete
                </button>
              </div>
            </div>
        </div>
      </div>
      <div class="modal fade" id="modalTaskDelete" tabindex="-1"
           aria-labelledby="modalTaskDeleteLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="modalTaskDeleteLabel">Are you sure you want to delete task?</h1>
            </div>
            <div class="modal-body">
              <p>Task will be permanently deleted.</p>
              <p class="fw-bold text-center">Dozens of disconnections will be lost in voyages like stigmas in peaces</p>
              <div class="row row-cols-2">
                <div class="col">Reporter: Wilcome Brownlock</div>
                <div class="col">Assignee: Pippin Sackville-Baggins</div>
              </div>
            </div>
            <div class="modal-footer">
              <form action="">
                <button class="btn btn-secondary mx-1" data-bs-dismiss="modal">Cancel</button>
                <button class="btn btn-danger mx-1" type="submit">Confirm</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
</body>
</html>
