<!doctype html>
<html lang="en" data-bs-theme="dark">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="Task tracker templates package - EDU Python course">
  <meta name="author" content="Serhii Horodilov <sgorodil@gmail.com>">
  <link rel="icon" type="image/svg+xml" href="../img/favicon.svg">
  <link rel="icon" type="image/png" href="../img/favicon.png">
  <title>Task Form | Task Tracker</title>
<script defer src="../js/main.bundle.js"></script><link href="../css/main.min.css" rel="stylesheet"></head>
<body>
<div class="container" role="navigation">
  <nav class="navbar navbar-expand-lg mb-3">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
              aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a href="" class="navbar-brand"><i class="bi bi-list-task"></i>&nbsp;Task Tracker</a>
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                      
              <li class="nav-item"><a href="" class="nav-link">Create new</a></li>
              <li class="nav-item"><a href="" class="nav-link">Profile</a></li>
            <li class="nav-item"><a href="" class="nav-link">Sign Out</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<div class="container">
  <div class="row justify-content-center">
    <main class="col col-md-10 col-lg-9">
      <form class="w-50 m-auto form-task" aria-label="TaskForm">
        <h1 class="h3 fw-normal mb-3 text-center">Task details form</h1>
        <div class="mb-3">
          <label for="summary" class="form-label">Summary</label>
          <div class="input-group mb-3">
            <input type="text" class="form-control" id="summary" name="summary">
            <div class="input-group-text">
              <input class="form-check-input mt-0" type="checkbox" id="completed" name="completed" aria-label="completed">
            </div>
          </div>
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea class="form-control" id="description" name="description" rows="10"></textarea>
        </div>
        <div class="mb-3">
          <label for="assignee" class="form-label">Assignee</label>
          <select class="form-select" id="assignee" name="assignee">
            <option value="" class="selected">-- Select assignee --</option>
            <option value="PippinSackville-Baggins@jourrapide.com">Pippin Sackville-Baggins</option>
            <option value="TobyMugwort@armyspy.com">Toby Mugwort</option>
            <option value="WilcomeBrownlock@teleworm.us">Wilcome Brownlock</option>
          </select>
        </div>
        <div class="d-flex flex-row">
          <a href="" class="btn btn-secondary w-50 mt-3 mx-3">Cancel</a>
          <button type="submit" class="btn btn-primary w-50 mt-3 mx-3">Submit</button>
        </div>
      </form>
    </main>
  </div>
</div>
</body>
</html>
