<!doctype html>
<html lang="en" data-bs-theme="dark">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="Task tracker templates package - EDU Python course">
  <meta name="author" content="Serhii Horodilov <sgorodil@gmail.com>">
  <link rel="icon" type="image/svg+xml" href="../img/favicon.svg">
  <link rel="icon" type="image/png" href="../img/favicon.png">
  <title>Tasks List | Task Tracker</title>
  <script defer src="../js/main.bundle.js"></script>
  <link href="../css/main.min.css" rel="stylesheet">
</head>
<body>
<div class="container" role="navigation">
  <nav class="navbar navbar-expand-lg mb-3" aria-labelledby="navbarBrand">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
              aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <a href="{% url "tasks:list" %}" class="navbar-brand" id="navbarBrand">
          <i class="bi bi-list-task"></i>&nbsp;Task Tracker
        </a>
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item"><a href="{% url "admin:index" %}" class="nav-link">Administration</a></li>
          <li class="nav-item"><a href="{% url "tasks:create" %}" class="nav-link">Create new</a></li>
          <li class="nav-item"><a href="{% url "users:profile" %}" class="nav-link">Profile</a></li>
          <li class="nav-item"><a href="{% url "users:sign-out" %}" class="nav-link">Sign Out</a></li>
          <li class="nav-item"><a href="{% url "users:sign-up" %}" class="nav-link">Sign Up</a></li>
          <li class="nav-item"><a href="{% url "users:sign-in" %}" class="nav-link">Sign In</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<div class="container">
  <div class="row justify-content-center">
    <main class="col col-md-10 col-lg-9">
      <div class="card shadow">
        <div class="card-header d-flex flex-row justify-content-center">
          <h1 class="card-title h3 text-capitalize mx-auto my-2"><i class="bi bi-list-task"></i>&nbsp;task list</h1>
        </div>
        <div class="card-body">
          <table class="table">
            <caption class="visually-hidden">task list</caption>
            <thead>
            <tr>
              <th class="col col-3" scope="col">Assignee</th>
              <th class="col col-8" scope="col">Task Summary</th>
              <th class="col d-flex flex-row justify-content-center" scope="col">Actions</th>
            </tr>
            </thead>
            <tbody id="taskContainer">
            {% for object in object_list %}
              <tr class="task" id="{{ object.pk }}"
                  data-task-completed="{% if object.completed %}true{% else %}false{% endif %}">
                <td class="align-middle" aria-label="TaskAssignee">
                  <img src="{{ object.assignee.image }}" alt="avatar" class="rounded-circle shadow avatar">
                  <br>
                  <span class="d-none d-md-inline ms-2 text-nowrap">
                    {{ object.assignee.first_name }} {{ object.assignee.last_name }}
                  </span>
                </td>
                <td class="align-middle" aria-label="TaskDetails">
                  <div>
                    <a href="{% url "tasks:detail" object.pk %}" class="text-decoration-none fw-bold task-detail-ref">
                      {{ object.summary }}
                    </a>
                  </div>
                  <p class="d-none d-lg-block fst-italic text-muted">
                    {{ object.description|truncatewords:20 }}
                  </p>
                </td>
                <td class="align-middle" aria-label="TaskActions">
                  <div class="d-flex flex-row justify-content-between align-items-center">
                    {% if object.completed %}
                      <i class="bi bi-arrow-repeat" role="button"
                          {# hx-patch="" hx-vals="js:{completed:false}" hx-swap="none"#}
                         data-task-target="{{ pk }}" data-task-action="patch"></i>
                    {% else %}
                      <i class="bi bi-check-lg" role="button"
                          {# hx-patch="" hx-vals="js:{completed:true}" hx-swap="none"#}
                         data-task-target="{{ pk }}" data-task-action="patch"></i>
                    {% endif %}
                    <i class="bi bi-trash" role="button"
                        {# hx-delete="" hx-target="closest tr" hx-swap="outerHTML"#}
                       data-task-target="{{ pk }}" data-task-action="delete"></i>
                  </div>
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="card-footer d-flex flex-row justify-content-center">
          <nav aria-label="TaskPagination">
            <ul class="pagination">
              <li class="page-item disabled"><a href="" class="page-link"><i class="bi bi-chevron-left"></i></a></li>
              <li class="page-item active"><a href="" class="page-link">1</a></li>
              <li class="page-item"><a href="" class="page-link">2</a></li>
              <li class="page-item"><a href="" class="page-link">3</a></li>
              <li class="page-item"><a href="" class="page-link">4</a></li>
              <li class="page-item"><a href="" class="page-link">5</a></li>
              <li class="page-item"><a href="" class="page-link"><i class="bi bi-chevron-right"></i></a></li>
            </ul>
          </nav>
        </div>
      </div>
    </main>
  </div>
</div>
</body>
</html>
