{% extends "base.html" %}
{% block title %}Sign In | {{ block.super|default:"Task Tracker" }}{% endblock %}
{% block main %}
  <form class="w-50 m-auto" id="formAuth" aria-label="SignInForm" method="post">
    <h1 class="h3 fw-normal mb-3 text-center">Enter your credentials</h1>
    {{ form.as_div }}
    <button class="btn btn-primary w-100 my-2 fs-5">Sign In</button>
    <p class="text-center mt-3">
      Have no account?
      <a href="{% url "users:sign-up" %}" class="text-body fw-bold">Register now</a>
    </p>
  </form>
{% endblock %}
